<h1 class="page-header">Dashboard</h1>

<h2>Willkommen auf der WellDone-Dashboard Seite!</h2> WellDone ist ein Verwaltungs- und Organisations Service für<br> Projekte, Aufgaben, Mitarbeiter, Meilensteine, Probleme(Tickets)
und Lösungsvorschläge.<br>
<br> WellDone wurde serverseitig mit NodeJS inkl express-Framework umgesetzt.<br> Clientseitig besteht das Service aus HTML5-Seiten
mit jQuery und AngularJS. Außerdem wurden Teile des Bootstrap-Frameworks verwendet.<br>
<br><br>
<div class="panel panel-success" style="width:40%">
  <div class="panel-heading">KV Service Engineering SS2016 - Gruppe 2</div>
  <div class="panel-body">
    <ul>
		<li>Viktoria Jechsmayr</li>
		<li>Michael Lehner</li>
		<li>Dominik Hattenberger</li>
		<li>Klaus Höflmeier</li>
	<ul>
  </div>
</div>