<h1 class="page-header"><span class="glyphicon glyphicon-user"></span>  Mitarbeiterverwaltung</h1>


<div class="alert alert-danger" role="alert" ng-show="message && iserrmessage">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{message}}
</div>

<div class="alert alert-success" role="alert" ng-show="message && !iserrmessage">
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{message}}
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <a href="#/users/new" class="btn btn-success">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Neuen Mitarbeiter
    </a>
  </div>

  <div class="panel-body">
    <table class="table">
      <tr>
        <th>Name</th>
        <th>e-Mail</th>

      </tr>
      <tr ng-repeat="u in users" ng-class="isuserinactive(u)">
        <td><a href="#/userdetails/{{u.id}}">{{u.firstname + ' ' + u.lastname}}</a></td>
        <td>{{u.email}}</td>
      </tr>
    </table>

  </div>
</div>